@import "../../../../styles/utils/varaible";

.aside {
	display: flex;
	flex-direction: column;
	background-color: $color-purple-dark;
	min-width: 260px;
	padding: 0 0 20px;
}

.aside-logo-wrapper {
	border-bottom: 1px solid rgba($color-white, 0.08);
	min-height: calc($dashboard-padding-Y * 2 + $dashboard-header-title-line-height);
	position: relative;

	svg {
		position: absolute;
		top: 50%;
		left: 0;
		transform: translate(calc($dashboard-aside-padding-left + 4px), -50%);
	}
}

.aside__nav {
	height: 100%;
	margin: 20px 0 0;
}

.aside-nav__list {
	display: flex;
	flex-direction: column;
	height: 100%;

	li:last-child {
		margin-top: auto;
	}
}

.aside-nav-list__link {
	color: $color-white;
	text-transform: capitalize;
	text-decoration: none;
	display: flex;
	align-items: center;
	padding: 17px 20px 17px $dashboard-aside-padding-left;
	font-weight: 500;
	font-size: 14px;
	border-left: 4px solid transparent;
	transition: 0.1s ease-in-out;
	font-family: 'Nunito', sans-serif;

	.aside-nav-list-link__icon {
		width: 18px;
		height: 18px;
		padding-right: 14px;
	}
}

.aside-nav-list__link:hover {
	background-color: rgba($color-white, 0.05);
}

.aside-nav-list__link--active {
	background-color: rgba($color-white, 0.05);
	border-left: 4px solid $color-white;
}