@import "../../../../styles/utils/varaible";


.header {
	padding: $dashboard-padding-Y $dashboard-padding-X;
	border-bottom: 1px solid rgb(222, 224, 229);
	display: flex;
	align-items: center;

	$logo-size: 42px;

	svg {
		width: $logo-size;
		height: $logo-size;
	}

	.header__title {
		font-family: 'Nunito', sans-serif;
		text-transform: capitalize;
		font-size: 24px;
		font-weight: bold;
		line-height: $dashboard-header-title-line-height;
	}

	.header-wrapper {
		margin-left: auto;
		max-height: $dashboard-header-title-line-height;

		img {
			max-height: $dashboard-header-title-line-height;
		}
	}
}
