@import "../../../../styles/utils/varaible";

$color-gray: rgba(80, 94, 104, 1);

$color-gray-light: rgba(202, 210, 214, 1);

.input_label {
	font-size: 14px;
	font-weight: 400;
	line-height: 24px;
	font-family: 'Lexend', sans-serif;
	text-transform: capitalize;
	color: $color-gray;
	display: flex;
	position: relative;
	width: 100%;
	flex-direction: column;
	gap: 4px;
}

.input {
	font-family: 'Lexend', sans-serif;
	height: 22px;
	font-size: 15px;
	padding: 12px 16px;
	border: 1px solid $color-gray;
	outline: none;
}


.input_label:focus-within {
	color: $color-purple;

	.input {
		outline: 2px solid $color-purple;
	}
}

.input:placeholder-shown {
	border: 1px solid $color-gray-light;
}
