.auth_page {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	max-width: 376px;
	margin: 0 auto;
	min-height: 100vh;
}

.title {
	margin: 40px 0 0 0;
	font-size: 20px;
	font-weight: 700;
	text-align: center;
	text-transform: capitalize;
}

