@use 'src/components/components/dashboard-page-components/Main/mainRow.module.scss';
@use 'src/components/components/dashboard-page-components/Main/main.module.scss';
@import "../../../../styles/utils/varaible";

.main__row,
.main__titles-row {
	display: grid;
	grid-template-columns: 80px 2fr 25px;
	padding: $dashboard-controls-padding-Y $dashboard-controls-padding-X;
}