body {
	font-family: 'Lexend', sans-serif;
}

.header {
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
	position: fixed;

	.routs {
		display: flex;
		gap: 1px;
		width: 100%;

		.rout-links {
			display: block;
			padding: 5px 20px;
			border-radius: 5px;
		}
	}
}