.error-message {
	position: absolute;
	top: 0;
	right: 0;
	transform: translate(0, -50%);
	font-family: 'Lexend', sans-serif;
	font-size: 12px;
	color: red;
	border-radius: 5px;
	background-color: rgba(255, 0, 0, 0.22);
	padding: 0 10px;
	transition: 0.1s ease-in-out;
}