$color-black: rgb(0, 0, 0);
$color-white: rgb(255, 255, 255);

$color-purple: rgb(113, 1, 255);
$color-purple-dark: rgb(63, 30, 133);


$dashboard-padding-Y: 20px;
$dashboard-padding-X: 40px;
$dashboard-header-title-line-height: 32px;

$dashboard-controls-height: 38px;
$dashboard-controls-padding-Y: 16px;
$dashboard-controls-padding-X: 12px;

$dashboard-aside-padding-left: 30px;