@import "../../../../styles/utils/varaible";

$scroll-padding-right: 20px;

.wrapper {
	height: 100%;
}

.dashboard-controls {
	display: flex;
	justify-content: flex-end;
	gap: 16px;
	align-items: center;
	padding: $dashboard-padding-Y $dashboard-padding-X 0 $dashboard-padding-X;

	input {
		min-height: 38px;
	}

	button {
		max-height: 38px;
		border-radius: 6px;
		width: auto;
		padding: 0 20px;
		font-family: 'Nunito', sans-serif;
		font-size: 14px;
	}
}

.dashboard-controls__label {
	font-size: 14px;
	font-family: 'Nunito', sans-serif;
	font-weight: 500;
	color: rgb(175, 183, 211);
	text-transform: capitalize;
}

.dashboard-controls__select {
	min-width: 120px;
	min-height: $dashboard-controls-height;
	border-radius: 6px;
	font-size: 14px;
	padding: 7px 12px;
	background-color: $color-white;
	border-color: rgb(228, 231, 237);
	color: rgb(59, 67, 96);
	text-transform: capitalize;
}

.dashboard-controls-select__option {
}

.main-wrapper {
	padding: 0 calc($dashboard-padding-X - $scroll-padding-right) $dashboard-padding-Y $dashboard-padding-X;
	height: calc(100% - $dashboard-padding-Y * 3 - 1px - $dashboard-header-title-line-height - $dashboard-controls-height - $dashboard-controls-padding-Y * 3);
}

.main-row-wrapper {
	height: 100%;
	display: flex;
	flex-direction: column;
	gap: 8px;
	overflow-y: auto;
	padding-right: 10px;
}

.main-row-wrapper::-webkit-scrollbar {
	width: 4px;
	height: 4px;
}

.main-row-wrapper::-webkit-scrollbar-track {
	box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
	border-radius: 10px;
}

.main-row-wrapper::-webkit-scrollbar-thumb {
	background-color: $color-purple;
	border-radius: $scroll-padding-right;
}

