@import "../../../../styles/utils/varaible";

.main__row,
.main__titles-row {
	display: grid;
	padding: $dashboard-controls-padding-Y $dashboard-controls-padding-X;
	align-items: center;
}

.main__row {
	background-color: $color-white;
	border-radius: 6px;
	padding: $dashboard-controls-padding-Y $dashboard-controls-padding-X;
}

.main-titles-row__title {
	color: rgb(159, 159, 182);
	font-family: 'Nunito', sans-serif;
	font-weight: 600;
	font-size: $dashboard-controls-padding-Y;
	text-transform: capitalize;
}

.main-row__item {
	font-size: 16px;
	line-height: 24px;
	font-family: 'Nunito', sans-serif;
	font-weight: 700;
	color: $color-black;
	display: flex;
}


$size: 40px;
.main-row-item__image {
	width: $size;
	height: $size;
	border-radius: 100px;
	margin: -8px 0;
}

.main-row__edit-btn {
	position: relative;
	background-color: transparent;
	border: none;

	.main-row-edit-btn__image {
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
		border-radius: 3px;
		color: #BBB0C8;
		cursor: pointer;
	}
}

.main-row__edit-btn:hover {
	.main-row-edit-btn__image {
		filter: invert(12%) sepia(88%) saturate(6939%) hue-rotate(267deg) brightness(98%) contrast(127%);

	}
}

.main-row__edit-btn:active {
	.main-row-edit-btn__image {
		filter: invert(12%) sepia(71%) saturate(3693%) hue-rotate(255deg) brightness(88%) contrast(98%);
	}
}

.main-row__edit-btn:focus-visible {
	outline: none;

	.main-row-edit-btn__image {
		filter: invert(12%) sepia(88%) saturate(6939%) hue-rotate(267deg) brightness(98%) contrast(127%);
	}
}