.modal-overlay {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: rgba(0, 0, 0, 0.5);
	display: flex;
	justify-content: center;
	align-items: center;
	z-index: 1000;

	.modal {
		background: #fff;
		border-radius: 2px;
		box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
		padding: 86px 110px;
		position: relative;
		max-width: 80%;
		overflow: hidden;
	}

	.modal-close {
		$size: 40px;
		width: $size;
		height: $size;
		display: flex;
		justify-content: center;
		align-items: center;
		position: absolute;
		top: 20px;
		right: 20px;
		background: none;
		border-radius: 2px;
		padding: 5px;
		border: none;
		font-size: 30px;
		cursor: pointer;
		transition: 0.1s ease-in-out;
	}

	.modal-close:hover {
		background-color: red;
	}

	.modal-content {
		display: flex;
		flex-direction: column;
		align-items: center;
		gap: 32px;
		min-width: 376px;
	}

	.modal-form {
		display: flex;
		flex-direction: column;
		gap: 32px;
		width: 100%;
	}

	.modal-title {
		font-size: 20px;
		font-weight: 700;
		text-align: center;
		text-transform: capitalize;
	}


}
