@import "../../../styles/utils/varaible";

$color-gray: rgba(80, 94, 104, 1);

$color-gray-light: rgba(202, 210, 214, 1);

.profile-wrapper {
	max-width: 832px;
	margin: 75px auto 0 auto;
	position: relative;
}

.profile-form {
	display: grid;
	grid-template-columns: 1fr 1fr;
}

.profile-back-button {
	font-family: 'Lexend', sans-serif;
	font-size: 16px;
	font-weight: 500;
	line-height: 16px;
	text-transform: capitalize;
	text-decoration: none;
	text-align: center;
	padding: 10px 0;
	border: none;
	background-color: transparent;
	color: rgb(44, 52, 58);
	transition: 0.1s ease-in-out;
	display: flex;
	align-items: center;
	position: absolute;
	left: -120px;
	top: -5px;
	transform: translate(-100%, 0);

	.profile-back-button__icon {
		margin: 0 15px 0 0;
	}
}

@media (max-width: 1250px) {
	.profile-back-button {
		position: static;
		transform: translate(0, 0);
	}
}

.profile-back-button:hover {
	color: rgb(51, 51, 255);
	text-decoration: underline;
}

.profile-form__title {
	font-size: 20px;
	font-family: 'Lexend', sans-serif;
	font-weight: 700;
}

.profile-form__left {
	margin: 0 40px 32px 0;
	display: flex;
	flex-direction: column;
	gap: 32px;
}

.profile-form__right {
	margin: 0 0 32px 40px;
	display: flex;
	flex-direction: column;
	gap: 32px;
}

@media (max-width: 900px) {
	.profile-wrapper {
		margin: 50px 0;
	}

	.profile-form {
		grid-template-columns: 1fr;
	}

	.profile-back-button {
		margin: 0 40px 20px;
	}

	.profile-form__left {
		margin: 0 40px;
	}

	.profile-form__right {
		margin: 32px 40px;
	}
}

$image-size: 168px;
.profile-form-image-replace__image-pick-label {
	display: flex;
	align-items: center;
	justify-content: center;
	width: $image-size;
	height: $image-size;
	border-radius: 100px;
	background-color: rgba($color-purple, 0.2);
	font-weight: 400;
	font-size: 50px;
	transition: 0.1s ease-in-out;

	$icon-size: 19px;

	.profile-form-image-replace__image-pick-label__icon {
		width: $icon-size;
		height: $icon-size;
		padding: 15px;
		background-color: rgba($color-purple, 1);
		border-radius: 100px;
		transition: 0.1s ease-in-out;
	}

	.profile-form-image-replace__image-pick {
		clip: rect(0 0 0 0);
		clip-path: inset(50%);
		height: 1px;
		overflow: hidden;
		position: absolute;
		white-space: nowrap;
		width: 1px;
	}
}

.profile-form-image-replace__image-pick-label:hover {
	background-color: rgba($color-purple, 0.3);

	.profile-form-image-replace__image-pick-label__icon {
		box-shadow: 0 0 2px 1px black;
	}
}

.profile-form-image-replace__image-pick-label:focus-within {
	background-color: rgba($color-purple, 0.3);
	outline: 3px solid rgba($color-purple-dark, 1);

	.profile-form-image-replace__image-pick-label__icon {
		box-shadow: 0 0 2px 1px black;
	}
}

.profile-form__image-replace {
	display: flex;
	gap: 32px;
}

.profile-form-image-replace__left,
.profile-form-image-replace__right {
	width: 50%;
}

.profile-form-image-replace__right {
	display: flex;
	flex-direction: column;
	justify-content: space-between;

	span {
		font-size: 15px;
		color: $color-gray;
		line-height: 24px;
	}
}

.profile-form-image-replace-right__button {
	height: 40px;
}

.profile-form-image-replace-right__description {
	font-size: 14px;
	color: $color-gray;
	line-height: 24px;
}

.profile-form__select-label {
	font-size: 14px;
	font-weight: 400;
	line-height: 24px;
	font-family: 'Lexend', sans-serif;
	text-transform: capitalize;
	color: $color-gray;
	display: flex;
	position: relative;
	flex-direction: column;
	gap: 4px;

	.profile-form__select {
		font-family: 'Lexend', sans-serif;
		height: 48px;
	}
}
