@import '../../../styles/utils/varaible.scss';

.button {
	width: 100%;
	height: 56px;
	background-color: $color-purple;
	border: none;
	text-align: center;
	font-family: 'Lexend', sans-serif;
	color: $color-white;
	font-size: 16px;
	font-weight: 500;
	text-transform: capitalize;
	transition: 0.2s ease-out background-color;
	outline: none;
}

.button:focus-visible {
	outline: 3px solid rgb(0, 0, 0);
}

.button:hover {
	background-color: rgb(51, 51, 255);
}

.button:active {
	background-color: rgb(0, 0, 224);
}

.button:disabled {
	background-color: rgb(202, 210, 214);
	color: rgb(80, 94, 104);
	cursor: not-allowed;
}
