@import "../../../styles/utils/varaible";

$color-gray: rgba(80, 94, 104, 1);

$color-gray-light: rgba(202, 210, 214, 1);

.checkbox__label {
	font-size: 14px;
	font-weight: 400;
	line-height: 24px;
	font-family: 'Lexend', sans-serif;
	text-transform: capitalize;
	color: $color-gray;
	display: flex;
	position: relative;
}

.checkbox__label {
	flex-direction: row-reverse;
	align-items: center;
	margin-right: auto;
	gap: 15px;

	.input {
		margin: 0;
		height: 20px;
		width: 20px;
	}
}

.checkbox__label:focus-within {
	color: $color-purple;

	.input {
		outline: none;
	}
}