@import "../../../../styles/utils/varaible";

$color-gray: rgba(159, 159, 182, 1);

$color-gray-light: rgba(228, 231, 237, 1);

$color-gray-dark: rgb(129, 129, 141);


.input_label {
	position: relative;

	.input {
		font-size: 12px;
		line-height: 12px;
		font-weight: 500;
		padding: 10px 10px 10px 40px;
		font-family: 'Nunito', sans-serif;
		text-transform: capitalize;
		color: $color-gray-dark;
		display: flex;
		position: relative;
		border: 1px solid $color-gray;
		outline: none;
		border-radius: 6px;
	}
}

.input_icon {
	position: absolute;
	top: 50%;
	left: 20px;
	transform: translate(-50%, -50%);
}

.input_label:focus-within {
	.input {
		outline: 2px solid $color-purple;
	}
}

.input:placeholder-shown {
	color: $color-gray;
	border: 1px solid $color-gray-light;
}
